@font-face {
    font-family:"digital-7 (italic)" ;
    src: url(fonts/digital-7.ttf);
}
body{
    background-image: url('bg1.jpg');
}
h1{
    text-align: center;
}
.clock{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;  
    /*margin-top: -200px;  */
    margin-left: -200px;
    height: 400px;
    width: 400px;
    border: 2px solid black;
    border-radius: 50%;
}
#hours{
   
    height: 50px;
    width: 50px;
}
#minutes{
    
    height: 50px;
    width: 50px;
}
#seconds{
    
    height: 50px;
    width: 50px;
}
.clock > *{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 60px;
    margin-top: 180px;
    font-family:'digital-7';
   
}